[Unit]
Description=Checkout api
After=network.target network-online.target
Requires=network-online.target

[Service]
EnvironmentFile=/etc/checkout-api/env
Type=simple
User=root
Group=root
ExecStart=/usr/bin/java -jar /root/checkout-api.jar
Restart=on-failure
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
